@import 'compass/css3', 'styles/default/colors', 'styles/default/mixins';
.cards {
    $component: &;
    touch-action: none;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &--drag {
        background: radial-gradient(ellipse at center, #eee 60%, #aaa);
    }

    &__wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    &__accept {
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;

        #{$component}--drag-up & {
            background: linear-gradient(to top, transparent, rgba(132, 240, 118, 0.404));
        }
    }

    &__skip {
        z-index: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        display: flex;
        align-items: flex-end;
        background: transparent;

        #{$component}--drag-down & {
            background: linear-gradient(to bottom, transparent, rgba(173, 66, 80, 0.253));
        }
    }

    &__btn-title {
        z-index: 2;
        letter-spacing: 4px;
        visibility: visible;
        color: $secondary-dark;
        width: 100%;
        text-align: center;
        vertical-align: top;
        padding: 40px;
        text-transform: uppercase;
        transition: visibility 0s, opacity 0.5s linear;

        &--accept {
            color: green;
        }

        &--skip {
            color: red;
        }

        #{$component}--drag & {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.25s, opacity 0.25s linear;
        }
    }

    &__word {
        // size, position, fancies
        z-index: 10;
        cursor: pointer;
        user-select: none;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 8px;
        width: 70vmin;
        height: 70vmin;
        min-height: 200px;
        min-width: 200px;
        max-height: 350px;
        max-width: 350px;
        padding: 10px;
        @include shadow($secondary-dark);

        // motion
        pointer-events: auto;
        transform-origin: 50% 50% 0px;

        // text
        padding: 10px;
        font-size: 26px;
        color: $secondary-text;
        word-break: break-all;

        &--tldr {
            font-size: 20px;
        }
    }

    &__timer {
        margin-bottom: 8px;
        visibility: visible;
        transition: visibility 0s, opacity 0.5s linear;

        #{$component}--drag & {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.25s, opacity 0.25s linear;
        }
    }
}
