@import 'styles/default/colors';

.header {
    width: 100%;
    padding: 16px 0;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &__title {
        display: inline-flex;
        font-size: 24px;
        font-weight: 600;
        color: $primary-text;
    }

    &__icon {
        display: inline-flex;
        margin-left: 12px;
    }
}
