@import 'styles/default/colors';

.add-2hs {
    width: 100%;
    color: inherit;
    pointer-events: auto;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 4px;

    &__text {
        display: block;
    }
}
