@import 'styles/default/colors';

.select-teams {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__teams {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    &__team-wrap {
        display: flex;
        justify-content: center;
        width: 30%;
        margin: 8px 0;
    }

    &__team {
        font-size: 0.9em;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 8px;
        min-width: 128px;

        &:hover {
            background-color: $secondary;
            transition: background-color 0.2s linear;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    &__team-title {
        margin-bottom: 4px;
    }
}
