.ready {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__table {
        margin: 20px 30px;
    }

    &__row {
        margin: 12px 0;
        display: flex;
        justify-content: center;
    }

    &__col {
        display: inline-flex;
        line-height: 32px;
        vertical-align: middle;

        &:nth-child(1) {
            width: 40px;
        }

        &:nth-child(2) {
            flex-grow: 1;
        }

        &--head {
            font-weight: 600;
        }
    }

    &__btn {
        display: inline-flex;
        align-self: center;
    }
}
