html {
    box-sizing: border-box;
    font-size: $rem-value;
    font-family: $font-first;
    background: $glb-color-body;
    height: 100%;
}

body {
    display: flex;
    font-size: $font-size;
    height: 100%;
}

#content {
    margin: 0 auto;
}

* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
        outline: none;
    }
}
