@mixin double-shadow($color) {
    @include box-shadow(0 1px 0 lighten($color, 10%) inset, 0 -1px 0 darken($color, 10%) inset);
}

@mixin shadow($color) {
    @include box-shadow(0 0 10px lighten($color, 10%) inset, 0 -1px 0 darken($color, 10%) inset);
}

@mixin hover-style($color) {
    &:hover {
        background: lighten($color, 3%);
    }
}

@mixin animation($content) {
    animation: $content;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin ul-nostyle {
    list-style: none;
    padding: 0;
    margin: 0;
}
