@import 'styles/default/colors';

$height: 100vh;

.drawer {
    $component: &;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &__toggle {
        position: absolute;
        opacity: 0;
    }

    &__toggle-label {
        user-select: auto;
        pointer-events: auto;
        position: fixed;
        z-index: 11;
        top: 0;
        right: 0;
        height: 50px;
        width: 50px;
        display: block;

        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 24px;
            background: $secondary-dark;
            left: 16px;
            top: 18px;
            box-shadow: 0 6px 0 $secondary-dark;
            transition: transform 0.25s ease-in-out, opacity 200ms linear;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 24px;
            left: 16px;
            top: 18px;
            box-shadow: 0 12px 0 $secondary-dark;
            transition: transform 0.25s ease-in-out, opacity 200ms linear;
        }

        #{$component}__toggle:checked + & {
            transform: translateY(6px);

            &::before {
                width: 1;
                transform: rotate(45deg) translateY(-6px) scale(0.8, 1);
                background: transparent;
                box-shadow: 0 6px 0 $secondary-light;
            }

            &::after {
                width: 1;
                transform: rotate(-45deg) translateY(-12px) scale(0.8, 1);
                box-shadow: 0 12px 0 $secondary-light;
                background: transparent;
            }
        }
    }

    &__menu {
        z-index: 10;
        position: fixed;
        top: -#{$height};
        left: 0;
        height: #{$height};
        width: 100%;
        background: $primary-light;
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 20px;
        transition: top 0.25s ease-in-out;

        #{$component}__toggle:checked ~ & {
            top: 0;
            transition: top 0.25s ease-in-out;
        }
    }

    &__list {
        list-style-type: none;
        margin-top: 30vh;
    }

    &__item {
        letter-spacing: 4px;
        color: $primary-text;
        font-size: 1.2em;
        line-height: 32px;
        text-align: center;

        &--current {
            color: $primary;
        }

        &--add2hs {
            margin-top: 40px;
        }
    }
}
